body{
    background-color: gray;
    align-items: center;
}


.roboto-thin {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .roboto-light {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .roboto-medium {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .roboto-black {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .roboto-thin-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .roboto-light-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .roboto-regular-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .roboto-medium-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .roboto-bold-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .roboto-black-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: italic;
  }
  
#tbl{
    width: 600px;
    height: 250px;
    border-collapse: collapse;
}
#tbl th{
    background-color: red;
    color: white;
    font-size: 20px;
}
#tbl tr:nth-child(odd){
    background-color: white;
}
#tbl tr:nth-child(even){
    background-color: lightgrey;
}
.center{
    margin-left: auto;
    margin-right: auto;
}
#tbl1{
    width: 600px;
    height: 250px;
    border-collapse: collapse;
}
#tbl1 th{
    background-color: green;
    color: white;
    font-size: 20px;
}
#tbl1 tr:nth-child(odd){
    background-color: white;
}
#tbl1 tr:nth-child(even){
    background-color: lightgrey;
}
#tbl2{
    width: 600px;
    height: 250px;
    border-collapse: collapse;
}
#tbl2 th{
    background-color: blue;
    color: white;
    font-size: 20px;
}
#tbl2 tr:nth-child(odd){
    background-color: white;
}
#tbl2 tr:nth-child(even){
    background-color: lightgrey;
}