body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: white;
}
div{
    width: 200px;
    height: 200px;
    background-color: red;
    transition: 4s ease-in-out;
    animation: slide 10s infinite;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
}
@keyframes slide{
    0% {
        transform: translateX(500px);
        background-color: blue;
        border-radius: 40%;
    }
    25%{
        transform: translateX(-300px);
        background-color: rgb(21, 136, 21);
        border-radius: 35%;
        scale: 2;
    }
    50%{
        transform: translateY(350px);
        background-color: rgb(202, 202, 2);
        border-radius: 75%;
        rotate: 180deg;
    }
    75%{
        transform: translateY(-230px);
        background-color: rgb(190, 126, 7);
        border-radius: 20%;
    }
    100% {
        transform: translateX(500px);
        background-color: rgb(219, 6, 6);
        border-radius: 50%;
    }
}