div{
    position: absolute;
    background-color: blue;
    width: 200px;
    height: 200px;
}
.d1{
    right: 0%;
}
.d2{
    left: 86%;
    top: 71%;
}
.d3{
    top: 71%;
}
.d5{
    left: 43%;
    top: 35.5%;
}